*{
    margin: 0px;
    padding: 0px;
   
    list-style: none;
    box-sizing: border-box;
    
}
.main-cnt{
   font-family: Tahoma, sans-serif;
    height: 70px;
    /* background-color:rgb(240, 102, 52); */
    box-shadow: 1px 1px 10px rgba(7, 7, 7,0.1);
    padding: 5px 10px;
    display: flex;
  
}
/* .main-cnt nav .contect{
 
 padding: 0px 10px;
 margin-left: 200px;
 margin-top: 10px;
 border-radius: 6px;

} */
/* .main-cnt nav .contect a{
    color: black;
    text-decoration: none;
    color: rgba(7, 7, 7,0.6);
    font-family: Tahoma, sans-serif; 
} */
.main-cnt nav .contect .fas{
    color: black;
    background: rgb(7, 7, 7,);
    text-decoration: none;
}

.main-cnt ul{
    display: flex;
}

.Content-bar{
    display: flex;
    margin-left:350px;
}
.Content-Img{
    width: 130.89;
    height: 65px;
    margin-left:80px;
}


.main-cnt ul li{
    line-height: 60px;
}

.content-A{
    color: #00000080;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    font-weight:lighter;
    transition: 0.6s;
    
    
}
 


.content-A:hover{
    /* background: wheat; */
    color: #00000080;
    font-size: 18px;
    padding: 10px;
    text-decoration: none;
    font-weight:lighter;
    border-bottom: 2px solid #00000080;
    
}